body {
  margin: 0;
  padding: 0;
  background-color: lightcoral;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name-box {
  border: 3px solid darkgray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: fit-content;
  background-color: white;
}

#feat {
  border: 5px solid black;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 20px;
  background-color: lightgray;
}

#feat h2 {
  color: black;
}

#feat ul {
  list-style-type: none;
  padding: 0;
}

#feat ul li {
  margin-bottom: 5px;
}
